{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "Installing apps"
sudo apt install -y tmux fish 
sudo snap install obsidian --classic
sudo snap install alacritty --classic
sudo snap install nvim --classic
# curl -f https://zed.dev/install.sh | sh


FONT_DIR="$HOME/.fonts"
{{ else if eq .chezmoi.os "darwin" -}}
sudo brew install tmux
sudo brew install fish
sudo brew install neovim
sudo brew brew install --cask visual-studio-code
sudo brew install --cask obsidian
sudo brew install --cask alacritty


FONT_DIR="~/Library/Fonts"
{{ end -}}

echo "Installing fonts into $FONT_DIR"
if [ ! -d "$FONT_DIR" ]; then
    mkdir ~/.fonts
fi

if ls "$FONT_DIR"/*JetBrainsMonoNerdFont* 1> /dev/null 2>&1; then
    echo "Jetbrains fonts already installed"
else
    wget -P /tmp https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/JetBrainsMono.zip
    unzip /tmp/JetBrainsMono.zip -d ~/.fonts
fi
